.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* {
  color: #333;
}

html, body, input, button {
  font-family: "Open Sans", Courier, monospace;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.body-content {
  background-image: url("https://wallpaperaccess.com/full/2697107.jpg");
  background-size: repeat;
  height: 100vh;
  /* position: relative;
    &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#333, 0.3);
      
    } */
}

.body-content header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  /* position: relative;
        z-index: 1; */
}

.body-content header .container {
  padding: 20px 0px;
}

.body-content header .container .logo a {
  font-size: 24px;
  color: white;
}

.body-content header .container .navi .navi-list li a {
  font-size: px;
  color: white;
  margin-left: 30px;
  font-weight: bold;
}

.body-content header .container .navi .navi-list li:hover a {
  color: #f1c40f;
}

.body-content .content {
  padding-top: 50px;
  /* position: relative;
        z-index: 1; */
}

.body-content .content .container .input-form {
  margin: auto;
  width: 50%;
}

.body-content .content .container .input-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid #333 1px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.body-content .content .container .input-form form .choose-file {
  border: solid 1px #333;
  border-radius: 7px;
  background-color: #27ae60;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.body-content .content .container .input-form form .choose-file:hover {
  color: #f1c40f;
}

.body-content .content .container .input-form form .run-frictionless {
  padding: 0px 10px;
  height: 33px;
  border: solid 1px #333;
  border-radius: 7px;
  background-color: #27ae60;
  color: white;
  cursor: pointer;
}

.body-content .content .container .input-form form .run-frictionless:hover {
  color: #f1c40f;
}

.body-content .content .container .output-form {
  position: relative;
  height: 550px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  /* visibility: hidden; */
}

.body-content .content .container .output-form .download {
  position: absolute;
  margin-right: 8px;
  right: 12px;
  font-size: 20px;
}

.body-content .content .container .output-form .download .download-btn {
  height: 33px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px #333;
  border-radius: 7px;
  background-color: #27ae60;
  color: white;
  cursor: pointer;
  padding: 8px;
}

.body-content .content .container .output-form .download .download-btn:hover {
  color: #f1c40f;
}

.body-content .content .container .output-form .download .download-btn:hover i {
  color: #f1c40f;
}

.body-content .content .container .output-form .output {
  border-radius: 5px;
  position: absolute;
  top: 34px;
  max-height: 100%;
  width: 100%;
  background-color: white;
  overflow: auto;
  padding: 0px 10px;
}
/*# sourceMappingURL=style.css.map */