.flex{
    display: flex;
    flex-wrap: wrap;
}

.a-center{
    align-items: center;
}

.a-start{
    align-items: flex-start;
}

.a-end{
    align-items: flex-end;
}

.j-center{
    justify-content: center;
}

.j-between{
    justify-content: space-between;
}
.j-start{
    justify-content: flex-start;
}

.j-end{
    justify-content: flex-end;
}