*{
    color: #333;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}

.test{
    p{
        color: red;
    }
}
.body-content{
    .container{
        .input-form{
            .form-header{

            }
            .input-group{
                .input-text{
                }
                .input-box{
                    border: solid 1px #333;
                    border-radius: 5px;
                }
            }
            .run-button{
                .btn{
                    border: solid 1px #333;
                    border-radius: 5px;
                }
                
            }
            
        }
    }
}