@import "variables";
@import "flex";
@import "media";

*{
    color: white;
}
html,body,input, button{
    font-family: "Open Sans", Courier, monospace;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1120px;
    margin: auto;
}
//@media only screen and (max-width: 768px)
.body-content{
    background-color: #002244;
    //height: 100vh;
    position: relative;

    header{
        padding: 0px 20px;
        @media only screen and (max-width: 768px){
            padding: 0px 40px;
        }
        border-bottom: 1px solid rgba(white, 0.4);
        .container{
            padding: 20px 0px;
            .logo{
                
                a{
                    @media only screen and (max-width: 768px){
                        font-size: 34px;
                    }
                    .logo-img{
                        border-radius: 50%;
                        width: 60px;
                    }
                }
            }
            .title{
                margin-left: 20px;
                a{
                    div{
                        font-size: 34px;
                        color: white;
                        font-weight: 900;
                        text-align: center;
                    }
                    
                }
            }
           
        }
    }
     
    .content{
        padding-top: 50px;
        border-bottom: 1px solid rgba(white, 0.4);
        .container{
            .input-form{
                margin: auto;
                width: 50%;
                @media only screen and (max-width: 900px){
                    width: 70%;
                }
                @media only screen and (max-width: 600px){
                    width: 90%;
                }
                form{
                    display: flex;
                    justify-content: space-between;
                    border: solid white 1px;
                    border-radius: 10px;
                    padding: 20px 20px 20px 20px;
                    @media only screen and (max-width: 600px){
                        padding: 20px 10px;
                        display: block;
                        margin: auto;
                    }
                    .input-p{
                        cursor: pointer;
                        .choose-file{  
                            border: solid 1px white;
                            border-radius: 7px;
                            background-color: $primary;
                            color: white;
                            padding: 5px;
                            cursor: pointer;
                            &:hover{
                                color: $secondary;
                            }
                            @media only screen and (max-width: 950px){
                                font-size: 12px;
                            }
                            @media only screen and (max-width: 600px){
                                margin-bottom: 10px;
                            }
                        }
                    }
                    
                    .run-frictionless{
                        padding: 0px 10px;
                        height: 33px;
                        border: solid 1px white;
                        border-radius: 7px;
                        background-color: $primary;
                        color: white;
                        cursor: pointer;
                        @media only screen and (max-width: 950px){
                            font-size: 12px;
                            padding: 0px 3px;
                        }
                        &:hover{
                            color: $secondary;
                        }
                        
                        
                    }
                }
                
            }
            .output-form{
                //max-height: 550px;
                position: relative;
                height: 550px;
                width: 50%;
                @media only screen and (max-width: 768px){
                    width: 70%;
                }
                @media only screen and (max-width: 600px){
                    width: 90%;
                }
                margin: auto;
                margin-top: 20px;
                visibility: hidden;
                .download{
                    position: absolute;
                    margin-right: 8px;
                    right: 12px;
                    font-size: 20px;
                    
                    .download-btn{
                        height: 33px;
                        font-size: 14px;
                        box-sizing: border-box;
                        border: solid 1px white;
                        border-radius: 7px;
                        background-color: $primary;
                        color: white;
                        cursor: pointer;
                        padding: 8px;
                        &:hover{
                            color: $secondary;
                        }
                        &:hover i{
                            color: $secondary;
                        }   
                        @media only screen and (max-width: 600px){
                            font-size: 12px;
                        }
                    }
                }
                .output{
                    border-radius: 5px;
                    position: absolute;
                    top: 34px;
                    max-height: 100%;
                    width: 100%;
                    background-color: white;
                    overflow: auto;
                    padding: 0px 10px;
                }
            }
    }
    }
    footer{
        background-color: #002244;
        padding-top: 20px;
        a{
            .blue-logo{
                border-radius: 30% 30% 0% 30%;
                width: 40px;
            }  
        }
        .footer-content{
            margin-left: 15px;
            .footer-version{
                font-size: 14px;
            }
            .footer-license{
                font-size: 12px;
                a{
                    color: $primary;
                }
            }
            
        }
        @media only screen and (max-width: 786){
            a{
            .blue-logo{
                width: 20px;
            }  
        }
        }
    }

}

