.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* {
  color: white;
}

html, body, input, button {
  font-family: "Open Sans", Courier, monospace;
}

.input-p input {
  border: white 1px solid;
}

form button {
  background: #27ae60;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.body-content {
  background-color: #002244;
  position: relative;
}

.body-content header {
  padding: 0px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 768px) {
  .body-content header {
    padding: 0px 40px;
  }
}

.body-content header .container {
  padding: 20px 0px;
}

@media only screen and (max-width: 768px) {
  .body-content header .container .logo a {
    font-size: 34px;
  }
}

.body-content header .container .logo a .logo-img {
  border-radius: 50%;
  width: 60px;
}

.body-content header .container .title {
  margin-left: 20px;
}

.body-content header .container .title a div {
  font-size: 34px;
  color: white;
  font-weight: 900;
  text-align: center;
}

.body-content .content {
  padding-top: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.body-content .content .container .input-form {
  margin: auto;
  width: 60%;
}

.body-content .content .container .config-fields {
  margin: auto;
  width: 60%;
}

.body-content .content .container .check-select {
  margin: auto;
  width: 60%;
}

@media only screen and (max-width: 900px) {
  .body-content .content .container .input-form {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .body-content .content .container .config-fields {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .body-content .content .container .check-select {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .input-form {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .config-fields {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .check-select {
    width: 90%;
  }
}

.body-content .content .container .input-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid white 1px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.body-content .content .container .config-fields form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid white 1px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.body-content .content .container .check-select form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid white 1px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .config-fields form {
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .input-form form {
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .config-fields form {
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.body-content .content .container .input-form form .input-p {
  cursor: pointer;
}

.body-content .content .container .config-fields form .input-p {
  cursor: pointer;
}

.body-content .content .container .config-fields form {
  cursor: pointer;
}

.body-content .content .container .input-form form .input-p .choose-file {
  border: solid 1px white;
  border-radius: 7px;
  background-color: #27ae60;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.body-content .content .container .config-fields form .input-p .edit-field {
  border: solid 1px #27ae60;
  border-radius: 7px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px;
  cursor: pointer;
}

.body-content .content .container .check-select form .check {
  height: 20px;
  width: 20px;
}


.body-content .content .container .input-form form .input-p .choose-file:hover {
  color: #f1c40f;
}

@media only screen and (max-width: 950px) {
  .body-content .content .container .input-form form .input-p .choose-file {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .input-form form .input-p .choose-file {
    margin-bottom: 10px;
  }
}

.body-content .content .container .input-form form .input-selection .output-selection {
  color: white;
  background-color: #27ae60;
  border-radius: 7px;
  height: 33px;
  border: white solid 1px;
  font-family: "Open Sans", Courier, monospace;
}

.body-content .content .container .input-form form .run-frictionless {
  padding: 0px 10px;
  height: 33px;
  border: solid 1px white;
  border-radius: 7px;
  background-color: #27ae60;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 950px) {
  .body-content .content .container .input-form form .run-frictionless {
    font-size: 12px;
    padding: 0px 3px;
  }
}

.body-content .content .container .input-form form .run-frictionless:hover {
  color: #f1c40f;
}

.body-content .content .container .output-form {
  position: relative;
  height: 550px;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .body-content .content .container .output-form {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .output-form {
    width: 90%;
  }
}

.body-content .content .container .output-form .download {
  position: absolute;
  margin-right: 8px;
  right: 12px;
  font-size: 20px;
}

.body-content .content .container .output-form .download .download-btn {
  height: 33px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px white;
  border-radius: 7px;
  background-color: #27ae60;
  color: white;
  cursor: pointer;
  padding: 8px;
}

.body-content .content .container .output-form .download .download-btn:hover {
  color: #f1c40f;
}

.body-content .content .container .output-form .download .download-btn:hover i {
  color: #f1c40f;
}

@media only screen and (max-width: 600px) {
  .body-content .content .container .output-form .download .download-btn {
    font-size: 12px;
  }
}

.body-content .content .container .output-form .output {
  border-radius: 5px;
  margin: 0px 20px;
  position: absolute;
  top: 34px;
  max-height: 90%;
  width: 100%;
  background-color: white;
  color: black;
  overflow: auto;
  padding: 0px 10px;
}

.body-content .content .container .config-form form h4 {
  color: #27ae60;
}

.body-content .content .container .config-form form input {
  margin-bottom: 10px;
}

.body-content .content .container .config-form form p {
  margin-bottom: 20px;
}

.body-content .content .container .config-form form p input {
  padding-left: 5px;
  border: 1px solid white;
}

.body-content .content .container .config-form form button {
  background: #27ae60;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.body-content .content .container form .config-btn {
  background: #27ae60;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.body-content footer {
  background-color: #002244;
  padding-top: 20px;
}

.body-content footer a .blue-logo {
  border-radius: 30% 30% 0% 30%;
  width: 40px;
}

.body-content footer .footer-content {
  margin-left: 15px;
}

.body-content footer .footer-content .footer-version {
  font-size: 14px;
}

.body-content footer .footer-content .footer-license {
  font-size: 12px;
}

.body-content footer .footer-content .footer-license a {
  color: #27ae60;
}

@media only screen and (max-width: 786) {
  .body-content footer a .blue-logo {
    width: 20px;
  }
}
/*# sourceMappingURL=style.css.map */