<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/a7ebbfc552.js" crossorigin="anonymous"></script>
    <script>
      function doSomething() {
          //alert('Form submitted!');
		  
		  document.getElementById('output-form').style.visibility="visible";
		  
		  var file = document.getElementById('myFile');
	  
          if(file.files.length)
          {
            var fileReader=new FileReader();
            fileReader.onload=function()
            {
              document.getElementById('output').textContent=fileReader.result;
            }
            fileReader.readAsBinaryString(file.files[0]);
          }
		  
          return false;
      }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <title>470 Project Webpage</title>
    <!--<link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
    />-->
    <script defer src="webpage.js"></script>
  </head>
  <body class="bg-dark">
    <div class="body-content">
      <header>
        <div class="container flex j-center a-center ">
          <div class="logo">
            <a href=""><img class="logo-img" src="../static/images/logo.PNG" alt=""></a>
          </div>
          <div class="title">
            <a href=""> <div>PORTLAND OPEN DATA</div> </a>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="container">
          <div class="input-form">
            {{web_data[url_sequence]}}
            <table>
                <tr>
                    {%for value in web_data[url_sequence].values()%}
                      <td class="col-md-2">{{ value }}</td>
                    {% endfor %}
                </tr>
            </table>
          </div>

          <div class="output-form" id="output-form">
            <div class="download">
              <!-- when download class is clicked, it will run a function in main.js
              to display downboad-btn button. This function can replace the name
              of download file in href link by the name of result file. -->
              <a href="./result.txt" download>
                <div class="download-btn">
                  Download Files
                  <i class="fas fa-download"></i>
                </div>
              </a>
            </div>
            <pre class="output" id="output"></pre>
          </div>
        </div>
      </div>
      <footer class="flex j-center a-center" >
        <a href=""><img class="blue-logo" src="../static/images/blue-logo.PNG" alt=""></a>
        <div class="footer-content">
          <p class="footer-version">
            Open data handbook 2020. Version 0.1 - Preliminary draft.
          </p>
          <p class="footer-license">
            This work is licensed under a
            <a href="">Creative Commons Attribution-ShareAlike 4.0 International License.</a>
          </p>
        </div>
      </footer>

    </div>
    
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="js/main.js"></script>
</html>